.searchbar {
  height: 44px;
  max-width: 80%;
  width: 584px;

  &.ismainpage {
    height: 48px;
  }

  overflow: hidden;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  padding-right: 16px;

  &:focus-within {
    box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
    border-color: transparent;
  }

  display: flex;
  align-items: center;

  .icon {
    height: 20px;
    width: 20px;
    margin-left: 14px;
    margin-right: 14px;
  }
  form {
    display: contents;
  }
  .input {
    flex: 1;
    height: 100%;
    outline: none !important;
    font-family: Roboto, Arial, sans-serif;
    overflow-x: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    box-shadow: none !important;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    font-size: 16px;

    &::-webkit-search-cancel-button {
      display: none !important;
    }
  }
}
