.search {
  background-color: var(--background);
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding-top: 38px;
    padding-bottom: 38px;
    padding-right: 30px;
    border-bottom: 1px solid #d3d3d3;

    .logo {
      width: 126px;
      height: auto;
      margin-left: 30px;
      margin-right: 30px;
    }
    .heading {
      position: absolute;
      left: 66px;
      top: 76px;
      font-size: 11px;
      opacity: 0.7;
      // margin: 16px;
      font-family: NB International Regular, Helvetica, Arial, sans-serif;
    }
  }
}
